@import url("https://fonts.googleapis.com/css2?family=Inter");
@import url("https://fonts.googleapis.com/css2?family=Lexend");

:root {
  /*Font*/
  --font-family-inter: "Inter", "sans-serif";
  --font-family-lexend: "Lexend", "sans-serif";

  /*Colors Brand*/
  --brand-1: #5c63ed;
  --brand-2: #7d82f1;
  --brand-3: #bec1f8;
  --brand-4: #e7e8fc;

  /*Colors Grey*/
  --gray-1: #212529;
  --gray-2: #495057;
  --gray-3: #ced3d7;
  --gray-4: #f1f3f5;
  --gray-5: #f8f9fa;
}
